.button__slider {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  top: 47px;
  bottom: 40px;
  z-index: 1;
  border-radius: 5px;
}

.button__slider-next {
  width: 100px;
  right: 0;
  opacity: 0;
  background: linear-gradient(90deg, rgba(58, 51, 51, 0), rgba(0, 0, 0, 0.9));
  transition: opacity 0.5s 0.1s ease-in-out;
}

.button__slider-before {
  width: 100px;
  left: 0px;
  background: none;
  opacity: 0;
  background: linear-gradient(270deg, rgba(58, 51, 51, 0), rgba(0, 0, 0, 0.9));
  transition: opacity 0.5s 0.1s ease-in-out;
}

.section:hover .button__slider-next {
  opacity: 1;
}

.section:hover .button__slider-before {
  opacity: 1;
}

.button__slider-next .strelka {
  rotate: 180deg;
}

.strelka {
  width: 80px;
  height: 80px;
}

.strelka path {
  stroke: var(--color-strelka);
  transition: stroke 0.5s 0.1s ease-in-out;
}

.strelka:hover path {
  stroke: white;
}

@media only screen and (max-width: 1024px) {
  .main {
    max-width: 1024px;
  }
}

@media only screen and (max-width: 390px) {
  .main {
    max-width: 390px;
    
    width: 100%;
  }
}