.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  
  margin-block-start: 80px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .main {
    max-width: 1024px;
  }
}

@media only screen and (max-width: 390px) {
  .main {
    max-width: 390px;
    
    width: 100%;
  }
}