@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header/__header.css);
@import url(../blocks/theme/theme.css);
@import url(../blocks/main/__main.css);
@import url(../blocks/form_authorization/authorization.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  background: linear-gradient(
    to bottom,
    var(--background-color-1),
    var(--background-color-2),
    var(--background-color-3)
  );
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
article {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
