
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    min-height: 80px;
    padding: 0 200px;
    width: 100%;
    margin-block-end: 50px;
}

.logo {
    font-family: 'Rubik Scribble', sans-serif;
    color: white;
}

.header__menu {
    display: flex;
    gap: 15px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
